.Header-style{
    width: 100%;
    min-height: 100vh;
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Center-header{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 6rem;
}

.Buttons-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 2.5rem;
}

.text-and-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.Header-title{
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-size: 1.7rem;
    font-weight: 400;
    justify-content: center;
    text-align: left;
    position: relative;
    margin: 0;
    width: 540px;
    max-width: 100%;
    padding: 0;
    margin-bottom: 1rem;
}

.Header-subtitle{
    font-size: 1rem;
    justify-content: center;
    text-align: left;
    position: relative;
    width: 480px;
    max-width: 100%;
    padding: 0;
}

.imagen-master{
    width: auto;
    height: 420px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.custom-class{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 380px) and (max-width: 767px) {
    .Center-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 3rem;
        padding: 5rem;
    }

    .Header-title {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
    }
    .Header-subtitle {
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
    }

    .Buttons-header {
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagen-master {
        height: 200px;
    }
    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Center-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 3rem;
    }

    .Header-title {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
    }
    .Header-subtitle {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
    }

    .Buttons-header {
        flex-direction: row;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 70%;
    }

    .imagen-master {
        height: 300px;
    }
    
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .Center-header {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 3rem;
    }

    .Header-title {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .Header-subtitle {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
    }

    .Buttons-header {
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 70%;
    }

    .imagen-master {
        height: 350px;
    }
}